@import '../../scss/index.scss';
.menu-sider {
    top: 65px;
    z-index: 3
    /*
    position: fixed;
    left: 0;
    top: 65px;
    height: calc(100vh - 65px);
    width: 200px;
    overflow: auto;
    */
    /*
    position: fixed;
    top: 65px;
    height: calc(100vh - 65px);
    width: 200px;
    background-color: $background-grey-dark;
    */
}