@import '../../scss/index.scss';
.layout-landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
    &__content {
        display: flex;
        flex: auto;
    }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-grey-dark;
        padding: 20px 0;
        color: $font-light;
        width: 100%;
        p {
            margin: 0;
            padding: 0;
            font-size: small;
        }
    }
}