//
$primary-color: #29ABE2;
$primary-color-dark: #0071BC;
$grey-color: #4D4D4D;
$grey-color-dark: #333333;
//
$menu-color: #252527;
//
$font-light: #fff;
$font-dark-light: #777;
$font-dark: #000;
$font-grey: #808080;
$font-grey-light: #e8e8e8;
$font-grey-dark: #444;
//
$border-light: #fff;
$border-dark-light: #252527;
$border-dark: #000;
$border-grey: #808080;
$border-grey-light: #595959;
$border-grey-dark: #444;
//
$background-light: #fff;
$background-dark-light: #252527;
$background-dark: #000;
$background-grey: #808080;
$background-grey-light: #595959;
$background-grey-dark: #222;
$background-error: #ff00001f;
$background-success: #84b84c1f;
//
$success-color: #84b84c;
$success-color-dark: #81a00c;
$error-color: #f00;
$error-color-dark: #a00;